<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cucumber.video.welcomeactivity">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cucumber.video.welcomeactivity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--提供共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cucumber.video.welcomeactivity.GuideActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.TagListActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.LikeActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.YijianActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.TuiMaActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.MyStorageListActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.MovieResultActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.TuiActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.TuiGuangActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.NoticeDetailActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.NoticyActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.HistoryActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.MovieDetailActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.AccountActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.XieYiActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.ActorListActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.UserActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.FindActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.MovieListActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.ChannelActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.MainActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.LoginActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.PasswordRecoveryActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.UserNameLoginActivity"></activity>
        <activity android:name="com.cucumber.video.welcomeactivity.RegisterActivity"></activity>
        <activity
            android:name="com.cucumber.video.welcomeactivity.MainSearchActivity"
            android:theme="@style/AppTheme.NoBar"/>
        <activity
            android:name="com.cucumber.video.welcomeactivity.SettingActivity"
            android:theme="@style/AppTheme.NoBar"/>
    </application>

</manifest>